<?xml version="1.0" encoding="utf-8" ?>



<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="Param1" value=""/>
    <add key="Param2"  value=""/>
    <add key="Param3"  value=""/>
  </appSettings>
    <connectionStrings>
        <add name="GM___Tool_Kit.Properties.Settings.ItemsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Items.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="GM___Tool_Kit.Properties.Settings.GenConnectionString"
            connectionString="Data Source=Param1;Persist Security Info=True;User ID=Param2;Password=Param3"
            providerName="System.Data.SqlClient" />
        <add name="GM___Tool_Kit.Properties.Settings.CashShopConnectionString"
            connectionString="Data Source=Param1;Initial Catalog=CashShop;Persist Security Info=True;User ID=Param2;Password=Param3"
            providerName="System.Data.SqlClient" />
        <add name="GM___Tool_Kit.Properties.Settings.AccountConnectionString"
            connectionString="Data Source=Param1;Initial Catalog=Account;Persist Security Info=True;User ID=Param2;Password=Param3"
            providerName="System.Data.SqlClient" />
        <add name="GM___Tool_Kit.Properties.Settings.gamedbConnectionString"
            connectionString="Data Source=Param1;Initial Catalog=gamedb;Persist Security Info=True;User ID=Param2;Password=Param3"
            providerName="System.Data.SqlClient" />
        <add name="GM___Tool_Kit.Properties.Settings.CashStoredProcConnectionString"
            connectionString="Data Source=Param1;Initial Catalog=CashShop;Persist Security Info=True;User ID=Param2;Password=Param3"
            providerName="System.Data.SqlClient" />
        <add name="GM___Tool_Kit.Properties.Settings.CabalCashConnectionsString"
            connectionString="Data Source=Param1;Initial Catalog=CabalCash;Persist Security Info=True;User ID=Param2;Password=Param3"
            providerName="System.Data.SqlClient" />
        <add name="GM___Tool_Kit.Properties.Settings.CashShopEditConnectionString"
            connectionString="Data Source=Param1;Initial Catalog=CashShop;Persist Security Info=True;User ID=Param2;Password=Param3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
